<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <h1>Form</h1>
    <form method="POST" action="{{ url_for('add') }}">
        <label>タイトル</label><br>
        <input type="text" name="title"><br>
        <label>価格</label><br>
        <input type="number" name="price"><br>
        <label>入荷日</label><br>
        <input type="text" name="day"><br>
        <input type="submit" value="新規登録">
    </form>
</body>
</html>