<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <h1>Form</h1>
    <form method="POST" action="{{ url_for('add') }}">
        <table border="1">
            <tr>
                <th>カテゴリー区分</th>
                <th>タイトル</th>
                <th>価格</th>
                <th>入荷日</th>
            </tr>
            <tr>
                <td>
                    <select name="category">
                    {% for t in category %}
                        <option value="{{ t[0] }}">{{ t[0] }}</option>
                    {% endfor %}
                    </select>
                </td>
                <td><input type="text" name="title" required></td>
                <td><input type="number" name="price" required></td>
                <td><input type="text" name="day" placeholder="YYYY-MM-DDの形式で入力してください。"></td>
            </tr>
        </table>
        <p>※入荷日が空欄の場合は、「未定」で登録されます。</p>
        <button type="submit">登録</button>
    </form>
    <a href="{{ url_for('index') }}"><button>戻る</button></a>
</body>
</html>