<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <h1>Form</h1>
    <form method="POST" action="{{ url_for('add') }}">
        <table border="1">
            <tr>
                <th>タイトル</th>
                <th>価格</th>
                <th>入荷日</th>
            </tr>
            <tr>
                <td><input type="text" name="title" required></td>
                <td><input type="number" name="price" required></td>
                <td><input type="text" name="day" required></td>
            </tr>
        </table>
        <button type="submit">新規登録</button>
    </form>
</body>
</html>